<div class="py-5">
<h1 class="h1">Contact</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent comodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
<div class="bg-light col-9 container">
    <div class="row mb-3 ms-3">
        <label for="email" class="text-end col-3 col-form-label mt-2"><strong>Your E-mail</strong></label>
        <div class="col-9 pt-3 pe-4">
            <input type="email" id="email" class="form-control" placeholder="Your email">
        </div>
    </div>
    <div class="row ms-3">
        <label for="message" class="col-3 col-form-label text-end"><strong>Your message</strong></label>
        <div class="col-9 pt-3 pe-4 pb-3">
            <textarea id="message" class="form-control" rows="5" placeholder="Enter your message here ..."></textarea>
        </div>
    </div>
    <div class="text-end pb-3 pe-2">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>
</div>