<div class="row justify-content-center">
    <div class="col-7 p-5">
        <h1 class="fs-2">This First Heading <span class="text-secondary"> Will Catch Your Eye</span></h1> 
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manerdocumentos dando l al original.</p>
    </div>
    <div class="col-3 pt-5">
        <img class="rounded-circle w-100" src="/website/assets/img/1.jpg">
    </div>
</div>  