<h1 class="h1 fw-bold">Porfolio</h1>
<p class="fw-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum vitae accusantium, quas quibusdam, aliquam ad soluta culpa nisi officiis quam quos. Soluta, eveniet eum maiores delectus doloremque necessitatibus! Velit, vero.</p>
<div class="row g-4">
<div class="col-4">
  <div class="card">
    <!-- <img src="" alt="" style="width: 400px; height: 300px;"> -->
    <div class="bg-secondary" style="height: 200px;"></div>
    <div class="card-body">
    <h5 class="card-title text-primary h3 fs-4 fw-bold">Project Name</h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus nobis tempora blanditiis quod ipsa impedit provident voluptatem dolor mollitia architecto.</p>
  </div>
</div>
</div>
<div class="col-4">
  <div class="card">
    <!-- <img src="" alt="" style="width: 400px; height: 300px;"> -->
    <div class="bg-secondary" style="height: 200px;"></div>
    <div class="card-body">
    <h5 class="card-title text-primary h3 fs-4 fw-bold">Project Name</h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus nobis tempora blanditiis quod ipsa impedit provident voluptatem dolor mollitia architecto.</p>
  </div>
</div>
</div>  <div class="col-4">
  <div class="card">
    <!-- <img src="" alt="" style="width: 400px; height: 300px;"> -->
    <div class="bg-secondary" style="height: 200px;"></div>
    <div class="card-body">
    <h5 class="card-title text-primary h3 fs-4 fw-bold">Project Name</h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus nobis tempora blanditiis quod ipsa impedit provident voluptatem dolor mollitia architecto.</p>
  </div>
</div>
</div>